<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>329881473015-o4k1fssqircl8n5nd2kh8i8vfb8ef634.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.329881473015-o4k1fssqircl8n5nd2kh8i8vfb8ef634</string>
	<key>API_KEY</key>
	<string>AIzaSyDa_d-graQ02yzfP-tr_Hya8iE81rchUh8</string>
	<key>GCM_SENDER_ID</key>
	<string>329881473015</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>COSC3506.FlameChat</string>
	<key>PROJECT_ID</key>
	<string>voicemail-4869c</string>
	<key>STORAGE_BUCKET</key>
	<string>voicemail-4869c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:329881473015:ios:a3b7846c4e4294d8</string>
	<key>DATABASE_URL</key>
	<string>https://voicemail-4869c.firebaseio.com</string>
</dict>
</plist>